/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #000114; 
    color: white;
    padding: 20px; /* padding aplicado */
    text-align: center;
    border-bottom: 2px solid #333; /* borde aplicado */
    margin-bottom: 20px; /* margen aplicado */
}

/* Contenedor principal */
.container {
    width: 100%;
    margin: 0 auto;
    border: 2px solid rgb(255, 119, 0);
    background-color: rgba(0, 50, 187, 0.189);
    height: auto;
    overflow: hidden;
}

.content{
    width: 77%;
    margin-left: 20px;
    border :1px solid darkred;
    float: right;
    height: 100%;
}

footer{
    clear: both;
    background-color: #8b0000; 
    color: white;
    padding: 20px; /* padding aplicado */
    text-align: center;
    border-bottom: 2px solid #333; /* borde aplicado */
    margin-bottom: 20px; /* margen aplicado */
}

.dropdown-menu {
    width: auto;            /* Ocupa todo el ancho disponible debajo del header */
    background-color: #333;
    position: relative;     
    display: inline-block; 
    z-index: 10;            
}

/* Botón principal */
.dropbtn {
    background-color: #8b0000;
    color: rgb(255, 255, 255);
    padding: 12px 20px;    
    font-size: 16px;
    border: none;
    cursor: pointer;       
    width: 200px;           
}

/* Contenedor de los enlaces */
.dropdown-content {
    display: none;         
    position: absolute;     
    background-color: #f9f9f95a;
    min-width: 200px;       
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1;             
}

/* Estilos de cada opción dentro del menú */
.dropdown-content a {
    color: black;
    padding: 12px 16px;     
    text-decoration: none;
    display: block;         
    border-bottom: 1px solid #ddd; 
}

/* Cambio de color al pasar el cursor sobre las opciones */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #8b0000;
}

/* Cuando el mouse entra en .dropdown-menu, muestra el .dropdown-content */
.dropdown-menu:hover .dropdown-content {
    display: block;         
}