/* 1. MODO AZUL (Tu diseño por defecto) */
:root {
    --bg-main: #e4ebfa; /* Fondo general celeste */
    --bg-nav: #ffffff; /* Fondo de tarjetas y menú  */
    --text-color: #222222; /* Texto oscuro */
    --accent-color: #1029BA; /* Azul fuerte principal */
    --accent-hover: #7d9ce3; /* Azul medio */
    --nav-hover: #afc3f0; /* Celeste claro para botones del menú */
    --footer-bg: #1029BA; /* Footer azul fuerte */
    --transition: all 0.3s ease;
}

/* 2. MODO OSCURO EXACTO (Solo se activa con tu botón) */
body:has(#darkmode-toggle:checked) {
    --bg-main: #000000; /* Fondo negro */
    --bg-nav: #1f1f1f; /* Tarjetas y menú grises oscuros */
    --text-color: #f5f5f5; /* Texto blanco/gris claro */
    --accent-color: #7d9ce3; /* Usamos azul medio  */
    --accent-hover: #afc3f0; /* Celeste para hovers */
    --nav-hover: #333333; /* Gris oscuro para botones del menú */
    --footer-bg: #0a192f; /* Azul súper oscuro para el footer */
}