:root {
    --primary: #1029BA;
    --primary-dark: #0B1E8A;
    --primary-light: #3F5BFF;
    --background-soft: #F4F6FF;
    --white: #FFFFFF;
    --gray-dark: #1F2937;
}

/*  Estilos generales  */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--background-soft);
    margin: 0;
}

/*  Header  */
header {
    color: white;
    padding: 20px;
    text-align: center;
    background-color: var(--primary);
    border-bottom: 2px solid var(--primary-dark);
}

/*  Contenedor principal */
.container {

    width: 95%;
    margin: 20px auto;
    border: 2px solid var(--primary);
    background-color: var(--white);
    border-radius: 8px;
    padding: 10px;

    display: flex;              
    gap: 20px;
}

/* Sidebar */
.sidebar {
    flex: 1 1 100%;
    min-height: auto;
}

/*  Contenido principal */
.content {
    flex: 1 1 100%;
    border-left: none;
    border-top: 2px solid #333;
}

/*  Footer */
footer {
    background-color: var(--primary-dark);
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}


a {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    text-decoration: underline;
    color: var(--primary-light);
}

/*  Menú desplegable */
.dropdown-menu {
    position: relative;
    width: 200px;
}

/* Botón principal */
.dropbtn {
    background-color: var(--primary);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
    text-align: left;
}

/* Contenedor oculto */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #ffffff;
    width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

/* Opciones del menú */
.dropdown-content a {
    color: black;
    padding: 12px;
    display: block;
    border-bottom: 1px solid #ddd;
}

/* Hover en opciones */
.dropdown-content a:hover {
    background-color: var(--background-soft);
    color: var(--primary);
}

/* Mostrar menú al pasar el cursor */
.dropdown-menu:hover .dropdown-content {
    display: block;
}

/* Cambio visual cuando pasas el mouse sobre el botón */
.dropdown-menu:hover .dropbtn {
    background-color: var(--primary-dark);
}

/* Diseño responsivo  */
@media (max-width: 768px) {

    .container {
        flex-direction: column; 
    }

    .sidebar {
        flex: 1 1 100%;
        min-height: auto;
    }

    .dropdown-content {
        position: relative; /* evita que se desborde */
    }
}
